<div class="card">
    <div class="card-content">
        <div class="dish-card-header subtitle">
            {{title}}
        </div>
        <p>
            Post:
            {{postBody}}
        </p>
        <p>
            Category:
            {{category}}
        </p>
    </div>
</div>