<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cruise Views</title>
    <link rel="stylesheet" type="text/css" href="/css/jass.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
    <header>
        <h1>CRUISE VIEWS</h1>
    </header>
    <nav>
        <a href="/">Home</a>
        {{#if loggedIn}}
        <button id="logout" class="btn-no-style">Logout</button>
        {{else}}
        <a href="/login">Login</a>
        {{/if}}
    </nav>
    <main>
        <aside>
            <h2>What are you interested in?</h2>
                        <ul>
                            <li><a href="/cars">Cars</a></li>
                            <li><a href="/sports">Sports</a></li>
                            <li><a href="/music">Music</a></li>
                            <li><a href="/books">Books</a></li>
                        </ul>
        </aside>
        <div class="gallery">
            {{{body}}}
        </div>
    </main>
    {{#if loggedIn}}
    <script src="/js/logout.js"></script>
    {{/if}}
</body>
