{{> newPostButton }}
{{#each entries as |entry|}}
{{> entry-detail}}
{{/each}}

<script src="/js/cars.js"></script>

{{! Path: views/partials/newPostButton.handlebars }}
<button id="newPostButton">New Post</button>