<h2 class="subtitle center">What topic do you want to cruise?</h2>

<div class="tile is-parent">
    <article class="tile is-child box">
        <p class="title"><a href="/cars">Cars</a></p>
    </article>
</div>

<div class="tile is-parent">
    <article class="tile is-child box">
        <p class="title"><a href="/sports">Sports</a></p>
    </article>
</div>

<div class="tile is-parent">
    <article class="tile is-child box">
        <p class="title"><a href="/music">Music</a></p>
    </article>
</div>


<div class="tile is-parent">
    <article class="tile is-child box">
        <p class="title"><a href="/books">Books</a></p>
    </article>
</div>