<div class="music-header">
    <h1 id="music-subtitle" class="subtitle">MUSIC</h1>
</div>

{{> newPostButton}}
{{#each entries as |entry|}}
{{> entry-details}}
{{/each}}


<script src="/js/script.js"></script>