body {
    background-color: #f3ebe4;
    font-family: 'Bungee Spice', cursive;
    font-family: 'Russo One', sans-serif;
}

.login-card {
    padding: 5px
}

.form-group {
    padding: 5px
}

#music-subtitle {
    color: lightsalmon;
    font-weight: bold
}

.music-header {
    margin: 5px;
}

.center {
    text-align: center;
}

.post-field {
    margin: 5%
}

#cars-subtitle {
    color: rgb(241, 40, 40);
    font-weight: bold
}